node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/**/*
jest-stare/**/*

# macOS
.DS_Store

# VS code and Other IDEs
.vscode/**/*
.idea/**/*
*.code-workspace